<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/EisApp.MAUI.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>tw.com.eri.sgweis</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0.2</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>IconPaths</key>
		<array>
			<string>Applications/EisApp.MAUI.app/iclauncher40.png</string>
			<string>Applications/EisApp.MAUI.app/iclauncher60.png</string>
			<string>Applications/EisApp.MAUI.app/iclauncher120.png</string>
			<string>Applications/EisApp.MAUI.app/iclauncher180.png</string>
		</array>
		<key>SigningIdentity</key>
		<string>00CC6B5717D596F68A3EA2C351ACB571A50A6CAD</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2024-12-16T07:00:51Z</date>
	<key>Name</key>
	<string>EisApp.MAUI</string>
	<key>SchemeName</key>
	<string>EisApp.MAUI</string>
	<key>SolutionName</key>
	<string>EisApp.MAUI</string>
</dict>
</plist>
